<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px">REGISTRAR PUBLICACION</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif">ID</mat-label>
      <input matInput required placeholder="Código" formControlName="id" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >CONTENIDO</mat-label
      >
      <input
        matInput
        required
        placeholder="contenido"
        formControlName="contenido"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >FECHA DE PUBLICACION</mat-label
      >
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="fecha_publicacion"
        [max]="maxFecha"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >N° REACCIONES</mat-label
      >
      <input
        matInput
        required
        placeholder="num_reacciones"
        formControlName="num_reacciones"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >N° COMENTARIOS</mat-label
      >
      <input
        matInput
        required
        placeholder="num_comentarios"
        formControlName="num_comentarios"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >N° COMPARTIDOS</mat-label
      >
      <input
        matInput
        required
        placeholder="num_compartidos"
        formControlName="num_compartidos"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>HABITACION</mat-label>
      <mat-select
        formControlName="habitacion"
        [(value)]="idHabitacionSeleccionado"
        required
      >
        <mat-option *ngFor="let h of lista_h" [value]="h.idHabitacion">
          {{ h.idHabitacion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" style="margin-right: 70px">
      Guardar<span class="material-icons">save</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      routerLink="/pages/publicacion"
      style="background-color: #ff6c00"
    >
      Cancelar <span class="material-icons">cancel</span>
    </button>
    <br />

    <p>{{ mensaje }}</p>
  </form>
</div>
