<div class="container" style="text-align: center">

  <h1 class="centrar" id="titulo" style="margin-top: 50px">REGISTRAR PAIS</h1>

<form [formGroup]="form" (submit)="aceptar()">
  <!--componente para input para el id-->
  <mat-form-field class="example-full-width">
    <mat-label>CÓDIGO</mat-label>
    <input matInput required placeholder="Id" formControlName="id" />
  </mat-form-field>
  <br />
  <!--componente para input para el ingresar el nombre-->
  <mat-form-field class="example-full-width">
    <mat-label>PAIS</mat-label>
    <input
      matInput
      required
      placeholder="Pais"
      formControlName="nombrePais"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>CAPITAL</mat-label>
    <input
      matInput
      required
      placeholder="Capital"
      formControlName="capitalPais"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>MONEDA OFICIAL</mat-label>
    <mat-select
      required
      placeholder="Elija moneda oficial"
      formControlName="monedaPais"
    >
      <mat-option value="Dólar estadounidense"
        >Dólar estadounidense</mat-option
      >
      <mat-option value="Euro">Euro</mat-option>
      <mat-option value="Nuevo sol">Nuevo sol</mat-option>
      <mat-option value="Peso chileno">Peso chileno</mat-option>
      <mat-option value="Real brasileño">Real brasileño</mat-option>
      <mat-option value="Peso colombiano">Peso colombiano</mat-option>
      <mat-option value="Boliviano">Boliviano</mat-option>
      <mat-option value="Real brasileño">Real brasileño</mat-option>
      <mat-option value="Peso colombiano">Peso colombiano</mat-option>

      <mat-option value="Franco suizo">Franco suizo</mat-option>
      <mat-option value="Peso mexicano">Peso mexicano</mat-option>
      <mat-option value="Yuan chino">Yuan chino</mat-option>
      <mat-option value="Peso cubano">Peso cubano</mat-option>
      <mat-option value="Dólar australiano">Dólar australiano</mat-option>
    </mat-select>
  </mat-form-field>


  <br />
  <!--Botones para enviar o cancelar-->
  <button mat-raised-button color="primary" id="btn-save" style="margin-right: 70px">
    Guardar<span class="material-icons">save</span>
  </button>
  <button
    mat-raised-button
    color="warn"
    routerLink="/pages/paises"
    style="background-color: #ff6c00"
  >
    Cancelar <span class="material-icons">cancel</span>
  </button>
  <br />

  <p>{{ mensaje }}</p>
</form>
</div>
