<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insertar pais</title>
    <style>
      .centrar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
      }
    </style>
  </head>

  <header class="header">
    <div class="container-menu">
      <div class="logo">
        <h1 routerLink="">Student's Room</h1>
      </div>
      <div class="boton">
        <label for="btn-menu">Menú</label>
      </div>

      <input type="checkbox" id="btn-menu">

      <nav class="menu">
        <ul>
          <button mat-button class="menu-button"  routerLink="" >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/estudiante">
            <mat-icon>group</mat-icon>
            <span>Estudiante</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/paises">
            <mat-icon>location_city</mat-icon>
            <span>Pais</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/plans">
            <mat-icon>payment</mat-icon>
            <span>Plan</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/tipo">
            <mat-icon>domain</mat-icon>
            <span>Tipos de habitación</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/universidad">
            <mat-icon>school</mat-icon>
            <span>Universidad</span>
          </button>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <div class="container" style="text-align: center">

        <h1 class="centrar" style="margin-top: 50px">REGISTRAR PAIS</h1>

      <form [formGroup]="form" (submit)="aceptar()">
        <!--componente para input para el id-->
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput required placeholder="Id" formControlName="id" />
        </mat-form-field>
        <br />
        <!--componente para input para el ingresar el nombre-->
        <mat-form-field class="example-full-width">
          <mat-label>Pais</mat-label>
          <input
            matInput
            required
            placeholder="Pais"
            formControlName="nombrePais"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Capital</mat-label>
          <input
            matInput
            required
            placeholder="Capital"
            formControlName="capitalPais"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Moneda Oficial</mat-label>
          <input
            matInput
            required
            placeholder="Moneda Oficial"
            formControlName="monedaPais"
          />
        </mat-form-field>

        <br />
        <!--Botones para enviar o cancelar-->
        <button mat-raised-button color="primary" style="margin-right: 70px">
          Guardar<span class="material-icons">save</span>
        </button>
        <button
          mat-raised-button
          color="warn"
          routerLink="/paises"
          style="background-color: #ff6c00"
        >
          Cancelar <span class="material-icons">cancel</span>
        </button>
        <br />

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
