<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .centrar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
      }
    </style>

  </head>
  <header class="header">
    <div class="container-menu">
      <div class="logo">
        <h1>Student's Room</h1>
      </div>
      <nav class="menu">
        <ul>
          <button mat-button class="menu-button"  routerLink="" >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/estudiante">
            <mat-icon>group</mat-icon>
            <span>Estudiante</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/paises">
            <mat-icon>location_city</mat-icon>
            <span>Pais</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/plans">
            <mat-icon>payment</mat-icon>
            <span>Plan</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/tipo">
            <mat-icon>domain</mat-icon>
            <span>Tipos de habitación</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/universidad">
            <mat-icon>school</mat-icon>
            <span>Universidad</span>
          </button>
        </ul>
      </nav>
    </div>
  </header>
  <body>


    <div class="container" style="text-align: center">
        <h1 class="centrar" style="margin-top: 50px;">REGISTRAR ESTUDIANTE</h1>

      <form [formGroup]="form" (submit)="aceptar()">
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>CÓDIGO</mat-label>
          <input matInput placeholder="id" required formControlName="id" />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>ESUDIANTE</mat-label>
          <input
            matInput
            placeholder="nombre"
            formControlName="nombre"
            required
          />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>CORREO</mat-label>
          <input
            matInput
            required
            placeholder="correo_institucional"
            formControlName="correo_institucional"
          />
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>FECHA DE NACIMIENTO</mat-label>
          <input
            matInput
            required
            [matDatepicker]="picker"
            placeholder="fecha_nacimiento"
            formControlName="fecha_nacimiento"
            [max]="maxFecha"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>TELÉFONO</mat-label>
          <input matInput required placeholder="telefono" formControlName="telefono" />
        </mat-form-field>

        <br />

        <div style="text-align: center">
          <button mat-raised-button style="background-color: #0b3ad1; color: white; margin-right: 70px;" >Guardar<span class="material-icons">save</span></button>
          <button mat-raised-button style="background-color: #ff6c00; color: white; " routerLink="/estudiante">Cancelar<span class="material-icons">cancel</span></button>
        </div>

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
