<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px">REGISTRAR HABITACIÓN</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif">ID</mat-label>
      <input matInput required placeholder="ID" formControlName="id" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo" [(value)]="id" required>
        <mat-option *ngFor="let t of lista_t" [value]="t.id">
          {{ t.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif"
        >Precio</mat-label
      >
      <input
        matInput
        required
        placeholder="precio"
        formControlName="precio"
      />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Arrendador</mat-label>
      <mat-select formControlName="Arrendador" [(value)]="id" required>
        <mat-option *ngFor="let a of lista_a" [value]="a.id_arrendador">
          {{ a.id_arrendador }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Distrito</mat-label>
      <mat-select formControlName="Distrito" [(value)]="id" required>
        <mat-option *ngFor="let d of lista_d" [value]="d.id">
          {{ d.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Universidad</mat-label>
      <mat-select formControlName="Universidad" [(value)]="id" required>
        <mat-option *ngFor="let u of lista_u" [value]="u.id">
          {{ u.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" style="margin-right: 70px">
      Guardar<span class="material-icons">save</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      routerLink="/publicacion"
      style="background-color: #ff6c00"
    >
      Cancelar <span class="material-icons">cancel</span>
    </button>
    <br />

    <p>{{ mensaje }}</p>
  </form>
</div>
