<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px">REGISTRAR HABITACIÓN</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif">ID</mat-label>
      <input matInput required placeholder="ID" formControlName="id" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>TIPO</mat-label>
      <mat-select
        formControlName="tipo"
        [(value)]="idTipoSeleccionado"
        required
      >
        <mat-option *ngFor="let t of lista_t" [value]="t.idTipoHabitacion">
          {{ t.tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <br />
    <mat-form-field appearance="fill">
      <mat-label>DISPONIBILIDAD</mat-label>
      <mat-select formControlName="Disponibilidad" required>
        <mat-option value="Sí">Sí</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>PRECIO</mat-label>
      <input matInput required placeholder="precio" formControlName="precio" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>ARRENDADOR</mat-label>
      <mat-select
        formControlName="Arrendador"
        [(value)]="idArrendadorSeleccionado"
        required
      >
        <mat-option *ngFor="let a of lista_a" [value]="a.id_arrendador">
          {{ a.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>DISTRITO</mat-label>
      <mat-select
        formControlName="Distrito"
        [(value)]="idDistritoSeleccionado"
        required
      >
        <mat-option *ngFor="let d of lista_d" [value]="d.idDistrito">
          {{ d.nombreDistrito }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>UNIVERSIDAD</mat-label>
      <mat-select
        formControlName="Universidad"
        [(value)]="idUniversidadSeleccionada"
        required
      >
        <mat-option *ngFor="let u of lista_u" [value]="u.idUniversidad">
          {{ u.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" style="margin-right: 70px">
      Guardar<span class="material-icons">save</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      routerLink="/pages/habitacion"
      style="background-color: #ff6c00"
    >
      Cancelar <span class="material-icons">cancel</span>
    </button>
    <br />

    <p>{{ mensaje }}</p>
  </form>
</div>
