<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px;">REGISTRAR PLAN</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">ID</mat-label>
      <input matInput required placeholder="Código" formControlName="id" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;" >NOMBRE</mat-label>
      <input
        matInput
        required
        placeholder="Nombre"
        formControlName="nombre_plan"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">PRECIO</mat-label>
      <input matInput required placeholder="Precio" formControlName="precio" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">DESCRIPCIÓN</mat-label>
      <input
        matInput
        required
        placeholder="Descripción"
        formControlName="descripcion"
      />
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" style="margin-right: 70px">
      Guardar<span class="material-icons">save</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      routerLink="/pages/plans"
      style="background-color: #ff6c00"
    >
    Cancelar <span class='material-icons'>cancel</span>
    </button>
    <br />

    <p>{{ mensaje }}</p>
  </form>
</div>
