@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');
th,h1{
  font-family: 'Montserrat', sans-serif;
}
td, button{
  font-family: 'Quicksand', sans-serif;
}
.centrar{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
}


th,td{
 text-align: center;
}
