<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px">
    CONTRATO DE ALQUILER
  </h1>

  <form [formGroup]="form" (submit)="aceptar()">
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>CÓDIGO</mat-label>
      <input matInput placeholder="id" formControlName="id" />
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width">
      <mat-label>DESCRIPCION</mat-label>
      <input
        matInput
        placeholder="descripcion"
        formControlName="descripcion"
        required

      />
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>FECHA DE INICIO</mat-label>
      <input
        matInput
        required
        [matDatepicker]="picker_inicio"
        placeholder="fecha_inicio"
        formControlName="fecha_inicio"
        [max]="maxFecha"

      />

      <mat-datepicker-toggle matSuffix [for]="picker_inicio"></mat-datepicker-toggle>
      <mat-datepicker #picker_inicio></mat-datepicker>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width">
      <mat-label>FECHA DE PAGO</mat-label>
      <input matInput required [matDatepicker]="picker_pago" placeholder="fecha_pago" formControlName="fecha_pago" />
      <mat-datepicker-toggle matSuffix [for]="picker_pago"></mat-datepicker-toggle>
      <mat-datepicker #picker_pago></mat-datepicker>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width">
      <mat-label>FECHA DE VENCIMIENTO</mat-label>
      <input
        matInput
        required
        [matDatepicker]="picker_vencimiento"
        placeholder="fecha_vencimiento"
        formControlName="fecha_vencimiento"

      />

      <mat-datepicker-toggle matSuffix [for]="picker_vencimiento"></mat-datepicker-toggle>
      <mat-datepicker #picker_vencimiento></mat-datepicker>
    </mat-form-field>

  <br />
  <mat-form-field class="example-full-width">
    <mat-label>MONTO</mat-label>
    <input matInput required placeholder="money" formControlName="money" />
  </mat-form-field>

    <br />

    <mat-form-field appearance="fill" >
      <mat-label>NOMBRE</mat-label>
      <mat-select formControlName="estudiante" [(value)]="idEstudianteSeleccionado" required >
        <mat-option *ngFor="let e of lista_e" [value]="e.idEstudiante" > {{ e.nombre }} </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill">
      <mat-label>HABITACION</mat-label>
      <mat-select formControlName="habitacion" [(value)]="idHabitacionSeleccionado" required >
        <mat-option *ngFor="let h of lista_h" [value]="h.idHabitacion" > {{ h.tipo.tipo }}</mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <div style="text-align: center">
      <button mat-raised-button style="background-color: #0b3ad1; color: white; margin-right: 70px">
        Guardar<span class="material-icons">save</span>
      </button>

      <button mat-raised-button style="background-color: #ff6c00; color: white" routerLink="/pages/contratodealquiler" >
        Cancelar<span class="material-icons">cancel</span>
      </button>
    </div>

    <p>{{ mensaje }}</p>
  </form>
</div>
