<div class="container">
  <div style="text-align: center;">
 <h1 class="centrar" style="margin-top: 50px;">REGISTRAR TIPO DE HABITACIÓN</h1>
</div>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label >CÓDIGO</mat-label>
      <input matInput  required placeholder="Código" formControlName="id" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>TIPO DE HABITACIÓN</mat-label>
      <input matInput required placeholder="Tipo de habitación" formControlName="tipo" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>DESCRIPCIÓN</mat-label>
      <input matInput required placeholder="Descripcion" formControlName="descripcion" />
    </mat-form-field>
    <br>
    <div style="text-align:center;">
    <button mat-raised-button color="primary"  style="margin-right: 20px; background-color: #0b3ad1 " (click)="aceptar()">Guardar<span class="material-icons">save</span></button>
    <button mat-raised-button style="background-color: #ff6c00; color: white;" routerLink="/pages/tipo">Cancelar<span class='material-icons'>cancel</span>
    </button>
    </div>
   <p>{{ mensaje }}</p>
  </form>
</div>
