<div class="container" style="text-align: center">

  <h1 class="centrar" style="margin-top: 50px">REGISTRAR PUBLICACION FAVORITA</h1>

<form [formGroup]="form" (submit)="aceptar()">
  <!--componente para input para el id-->
  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput readonly placeholder="Id" formControlName="id" />
  </mat-form-field>
  <br />
  <!--componente para input para el ingresar el nombre-->
  <mat-form-field appearance="fill">
    <mat-label>FECHA DE GUARDADO</mat-label>
    <input
      matInput
      required
      [matDatepicker]="picker"
      placeholder="Fecha guardado"
      formControlName="fechaguardadoPublicacionfavorita"

    />

    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>NOMBRE ESTUDIANTE</mat-label>
    <mat-select formControlName="estudiante" [(value)]="idEstudianteSeleccionado" required>
      <mat-option *ngFor="let e of lista_e" [value]="e.idEstudiante">
        {{e.nombre}}
    </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>ID PUBLICACION</mat-label>
    <mat-select formControlName="publicacion" [(value)]="idPublicacionSeleccionado" required>
      <mat-option *ngFor="let p of lista_p" [value]="p.id">
        {{p.id}}
    </mat-option>
    </mat-select>
  </mat-form-field>







  <!--falta continuar-->

  <br />
  <!--Botones para enviar o cancelar-->
  <button mat-raised-button color="primary" style="margin-right: 70px">
    Guardar<span class="material-icons">save</span>
  </button>
  <button
    mat-raised-button
    color="warn"
    routerLink="/publicacionfavorita"
    style="background-color: #ff6c00"
  >
    Cancelar <span class="material-icons">cancel</span>
  </button>
  <br />

  <p>{{ mensaje }}</p>
</form>
</div>
