<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px;">REGISTRAR MENSAJE</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">ID</mat-label>
      <input matInput required placeholder="Código" formControlName="id" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;" >DESCRIPCIÓN</mat-label>
      <input
        matInput
        required
        placeholder="descripcion"
        formControlName="descripcion"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">FECHA DE ENVÍO</mat-label>
      <input matInput [matDatepicker]="picker_envio" formControlName="fecha_envio" [max]="maxFecha">
      <mat-datepicker-toggle matSuffix [for]="picker_envio"></mat-datepicker-toggle>
      <mat-datepicker #picker_envio></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">FECHA DE RECEPCIÓN</mat-label>
      <input matInput [matDatepicker]="picker_recepcion" formControlName="fecha_recepcion" [max]="maxFecha">
      <mat-datepicker-toggle matSuffix [for]="picker_recepcion"></mat-datepicker-toggle>
      <mat-datepicker #picker_recepcion></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">TIEMPO DE RESPUESTA</mat-label>
      <input
        matInput
        required
        placeholder="tiempo_respuesta"
        formControlName="tiempo_respuesta"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label style="font-family: 'Quicksand', sans-serif;">ESTADO</mat-label>
      <input
        matInput
        required
        placeholder="estado"
        formControlName="estado"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>ARRENDADOR</mat-label>
      <mat-select formControlName="arrendador" [(value)]="idArrendadorSeleccionado" required>
        <mat-option *ngFor="let a of lista_a" [value]="a.id_arrendador">
          {{a.id_arrendador}}
      </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>ESTUDIANTE</mat-label>
      <mat-select formControlName="estudiante" [(value)]="idEstudianteSeleccionado" required>
        <mat-option *ngFor="let e of lista_e" [value]="e.idEstudiante">
          {{e.nombre}}
      </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary" style="margin-right: 70px">
      Guardar<span class="material-icons">save</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      routerLink="/mensaje"
      style="background-color: #ff6c00"
    >
    Cancelar <span class='material-icons'>cancel</span>
    </button>
    <br />

    <p>{{ mensaje }}</p>
  </form>
</div>
