<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .centrar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 50px;
      }
    </style>

  </head>

  <header class="header">
    <div class="container-menu">
      <div class="logo">
        <h1 routerLink="">Student's Room</h1>
      </div>
      <div class="boton">
        <label for="btn-menu">Menú</label>
      </div>

      <input type="checkbox" id="btn-menu">

      <nav class="menu">
        <ul>
          <button mat-button class="menu-button"  routerLink="" >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/estudiante">
            <mat-icon>group</mat-icon>
            <span>Estudiante</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/paises">
            <mat-icon>location_city</mat-icon>
            <span>Pais</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/plans">
            <mat-icon>payment</mat-icon>
            <span>Plan</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/tipo">
            <mat-icon>domain</mat-icon>
            <span>Tipos de habitación</span>
          </button>
        </ul>
        <ul>
          <button mat-button class="menu-button" routerLink="/universidad">
            <mat-icon>school</mat-icon>
            <span>Universidad</span>
          </button>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <div class="container" style="text-align: center">
      <h1 class="centrar" style="margin-top: 50px;">REGISTRAR MENSAJE</h1>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;">ID</mat-label>
          <input matInput required placeholder="Código" formControlName="id" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;" >DESCRIPCIÓN</mat-label>
          <input
            matInput
            required
            placeholder="descripcion"
            formControlName="descripcion"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;">FECHA DE ENVÍO</mat-label>
          <input matInput required placeholder="fecha_envio" formControlName="fecha_envio" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;">FECHA DE RECEPCIÓN</mat-label>
          <input
            matInput
            required
            placeholder="fecha_recepcion"
            formControlName="fecha_recepcion"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;">TIEMPO DE RESPUESTA</mat-label>
          <input
            matInput
            required
            placeholder="tiempo_respuesta"
            formControlName="tiempo_respuesta"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label style="font-family: 'Quicksand', sans-serif;">ESTADO</mat-label>
          <input
            matInput
            required
            placeholder="estado"
            formControlName="estado"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>ID ARRENDADOR</mat-label>
          <mat-select formControlName="arrendador" [(value)]="idArrendadorSeleccionado" required>
            <mat-option *ngFor="let a of lista" [value]="a.id">
              {{a.id}}
          </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>ID ESTUDIANTE</mat-label>
          <mat-select formControlName="estudiante" [(value)]="idEstudianteSeleccionado" required>
            <mat-option *ngFor="let e of lista" [value]="e.id">
              {{e.id}}
          </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary" style="margin-right: 70px">
          Guardar<span class="material-icons">save</span>
        </button>
        <button
          mat-raised-button
          color="warn"
          routerLink="/mensaje"
          style="background-color: #ff6c00"
        >
        Cancelar <span class='material-icons'>cancel</span>
        </button>
        <br />

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
