<div class="container" style="text-align: center">
  <h1 class="centrar" style="margin-top: 50px;">REGISTRAR UNIVERSIDAD</h1>
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>ID</mat-label>
      <input matInput required placeholder="ID" formControlName="id" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>NOMBRE</mat-label>
      <input matInput required placeholder="Nombre" formControlName="nombre" />
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>SEDE</mat-label>
      <input matInput required placeholder="Sede" formControlName="sede" />
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width">
      <mat-label>UBICACIÓN</mat-label>
      <input matInput required placeholder="Ubicacion" formControlName="ubicacion" />
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" style="margin-right: 70px"> Guardar<span class="material-icons">save</span></button>
    <button mat-raised-button color="warn" style="background-color: #ff6c00;" routerLink="/pages/universidad"> Cancelar <span class='material-icons'>cancel</span>
    </button>
    <br />
    <p>{{ mensaje }}</p>
  </form>
</div>
