@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');
th,h1{
  font-family: 'Montserrat', sans-serif;
}
td, button{
  font-family: 'Quicksand', sans-serif;
}

th{
 text-align: center;
}
