<div class="container" style="text-align: center">

  <h1 class="centrar" style="margin-top: 50px">REGISTRAR ARRENDADOR</h1>

<form [formGroup]="form" (submit)="aceptar()">
  <!--componente para input para el id-->
  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput readonly placeholder="Id" formControlName="id_arrendador" />
  </mat-form-field>
  <br />
  <!--componente para input para el ingresar el nombre-->
  <mat-form-field class="example-full-width">
    <mat-label>NOMBRE</mat-label>
    <input
      matInput
      required
      placeholder="Nombre"
      formControlName="nombreArrendador"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>CORREO</mat-label>
    <input
      matInput
      required
      type="email"
      placeholder="Correo"
      formControlName="correo_laboralArrendador"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>TELEFONO</mat-label>
    <input
      matInput
      required
      placeholder="Telefono"
      formControlName="telefonoArrendador"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>CIUDAD</mat-label>
    <input
      matInput
      required
      placeholder="Ciudad"
      formControlName="ciudadArrendador"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>PAIS</mat-label>
    <input
      matInput
      required
      placeholder="Ciudad"
      formControlName="paisArrendador"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>PLAN</mat-label>
    <mat-select formControlName="plan" [(value)]="isPlanSeleccionado" required>
      <mat-option *ngFor="let e of lista_p" [value]="e.idPlan" >
        {{e.nombre_plan}}
    </mat-option>
    </mat-select>
  </mat-form-field>
  <!--falta continuar-->

  <br />
  <!--Botones para enviar o cancelar-->
  <button mat-raised-button color="primary" style="margin-right: 70px">
    Guardar<span class="material-icons">save</span>
  </button>
  <button
    mat-raised-button
    color="warn"
    routerLink="/pages/arrendador"
    style="background-color: #ff6c00"
  >
    Cancelar <span class="material-icons">cancel</span>
  </button>
  <br />

  <p>{{ mensaje }}</p>
</form>
</div>
